@font-face {
    font-family: 'Gilroy-nav';
    src: url('../gilroy/Gilroy-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.nav-font {
    font-family: 'Gilroy-nav';
    
}

.signup-button {
    background-color: rgb(59 65 163);
    width: 7rem;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 35px;
    transition: 0.7s;
}

.signup-button:hover {
    border: 1px solid rgb(90 95 188);
    background-color: transparent;
    color: black;
}

.vector-img {
    width: 35px;
}